*.bz2
*.gz
*.1
*.la
/*.tst
/*.msgs.*.H
/*.auto.[CH]
/*.stamp
/Doxyfile
/INSTALL
/ABOUT-NLS
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.log
config.status
config.sub
configure
depcomp
/header.html
install-sh
libtool
ltmain.sh
missing
/objrepo_config.h
/objrepo_config.h.in
/localstatedir.h
/repomgcliopts.h
/stamp-h1
/stasher.1.in
/stashercli
/stasherd
/stasherd.h
/stasherdpath.h
/stasherd.static
/stasher.h
/stashermg
/stashermg.1.in
/stasher.static
/stasher.sysinit
/sysinit.rc
/html
/m4
/manpages
/repo
/rpm
/xml
